h1 {
    padding: 10px 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color:#5a5656
}

p {
    padding: 0 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

.Article:hover {
    cursor: pointer;
    background: #f8ad51;
}


.articleStats {
    display: flex;
    justify-content: space-around;
}

hr {
    width: 70%;
    height: 0.2rem;
    background: green;
    margin: 0 auto;
}

.SingleArticle {
    display: flex;
    justify-content: space-around;
}

.SingleArticleTitle {
    background: maroon;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.BackButton:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }