h1 {
    padding: 10px 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color:black
}

p {
    padding: 0 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

.Article:hover {
    cursor: pointer;
    background: #f8ad51;
}


.articleStats {
    display: flex;
    justify-content: space-around;
}

.ArticleHR {
    width: 70%;
    height: 0.2rem;
    background: green;
    margin: 0 auto;
}

.SingleArticle {
    display: flex;
    flex-direction: column;
}

.SingleArticle h2 {
    margin: 0;
}

.SingleArticleTitle {
    background: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 230, 0);
    padding: 20px
}


 /* -------- SINGLE ARTICLE BUTTONS -------- */

.ButtonLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.BackButton {
    height: 2.5rem;
    width: 80px;
    font-size: 26px;
    background: maroon;
    border-radius: 20px;
    color: #eef4c4;
    box-shadow: 3px 3px 2px rgb(71, 39, 12);
    border: 1px black solid
}

.BackButton:active {
    box-shadow: 1px 1px 2px  rgb(71, 39, 12);
    transform: translateY(2px)
} 

.BackButton:focus {
    outline: none;
}

.BackButton:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: pointer;
    background: rgb(168, 9, 9)
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.CommentButton {
    height: 1.5rem;
    border-radius: 65px;
    width: 25px;
    font-size: 40px;
    text-align: center;
    margin: 0 10px;
    -webkit-box-shadow: 4px 4px 1px black;
            box-shadow: 4px 4px 1px black;
    outline: none;
    border: 1px black solid;
}

.CommentButton:hover {
    cursor: pointer;
}

.CommentButton:active {
    -webkit-box-shadow: 1px 1px 1px black;
            box-shadow: 1px 1px 1px black;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px)
}

.minus {
    background: rgb(255, 0, 0)
}

.add {
    background: rgb(4, 255, 4)
}

@media (max-width: 810px) {
    .SingleArticleTitle {
        font-size: 30px;
    }
    .SingleArticlePara {
        font-size: 20px;
    }
}