h1 {
    padding: 0 10px;
}

p {
    padding: 0 25px;
    margin-bottom: 25px;
}

.articleStats {
    display: flex;
    justify-content: space-around;
}

hr {
    width: 70%;
    height: 0.2rem;
    background: green;
}