h2.SingleUserArticle {
    margin: 0;
}

h3.SingleUserArticle {
    margin-top: 0;
    margin-bottom: 15px;
}

.SingleUserArticleDiv:hover {
    background: orange;
    cursor: pointer;
    transform: scale(1.1)
}