television {
  width: 650px;
  margin: 0 auto;
}

.television__top {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

.television__antenna {
  width: 5px;
  height: 100px;
  background-color: #3b3733;
  margin-bottom: -10px;
}

.television__antenna--left {
  transform: rotate(-30deg);
  float: left;
}

.television__antenna--right {
  transform: rotate(30deg);
  float: right;
}

.television__antenna__base {
  height: 30px;
  background-color: #3b3733;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  margin-bottom: 10px;
  clear: both;
  position: relative;
  z-index: 2;
}

.television__center {
  max-width: 1000px;
  position: relative;
  z-index: 2;
  width: 80%;
  min-width: 750px;
  height: 550px;
  background-color: #7a4e27;
  border: solid 3px #eef4c4;
  box-shadow: -10px -10px #d64832;
  border-radius: 48px;
  margin: 0 auto;
  padding: 10px 15px;
}

.television__screen {
  width: 83%;
  min-width: 635px;
  height: 545px;
  background:linear-gradient(45deg, black, grey);
  border-radius: 48px;
  float: left;
  overflow: auto;
  border: 5px solid black;
}

.television__channels-wrapper {
  width: 100px;
  height: 150px;
  background-color: #efd6b7;
  border-radius: 28px;
  float: right;
}


.television__channels h2 {
  margin: 0
}

.television__channels h2.Short {
  margin: 0;
  font-size: 0;
}

.switch {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.switch button {
  height: 100%;
  width: 100%;
  border-radius: 28px;
  font-size: 45px;
  text-align: center;
  background: yellow;
  box-shadow: inset -6px -6px gold;
  border: 5px solid red;
}

.switch button:hover {
  background: rgb(238, 210, 84);
  cursor: pointer;
}

.switch button:active {
  box-shadow: inset 4px 4px 10px #333;
  background: #ecb976;
  color: whitesmoke;
}

.switch button:focus {
  outline: none
}

.television__channels {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.television__channel {
  list-style-type: none;
  background-color: yellow;
  border: 7px solid #7f4b23;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin: 5px;
  font-size: 27px;
  float: left;
  position: relative;
  box-shadow: inset -6px -6px gold;
}

.television__channel:hover {
  background-color: #e6a146;
  cursor: pointer;
  box-shadow: none;
}

.television__channel:active {
  background-color: #ec724c;
  box-shadow: inset 3px 3px 10px #333;
  cursor: pointer;
}

.television__channel a:active {
  box-shadow: inset rgba(255,255,255,0.6) 0 2px 2px,
              inset rgba(0,0,0,0.15) 0 -2px 5px, /* inner shadow */
                  rgba(100,100,100,0.6) 0 2px 1px,
              rgba(100,100,100,0.6) 0 2px 1px; /* color border */
}

.television__base {
  width: 300px;
  margin: auto;
}

.television__base:after {
  clear: both;
  content: "";
  display: table;
}

.television__foot {
  width: 20px;
  height: 70px;
  margin-top: -20px;
  background-color: #7d4d25;
  border: solid 3px #eed5b6;
  border-radius: 48px;
}

.television__foot--left {
  transform: rotate(30deg);
  float: left;
}

.television__foot--right {
  transform: rotate(-30deg);
  float: right;
}


@media (max-width: 810px) {
  .television {
    width: 99%;
  }

  .television__center {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 90%;
    min-width: 250px;
    padding: 10px 0px;
    margin: 0;
  }
  .television__screen {
    width: 97.5%;
    min-width: 250px;
    height: 545px;
    background:linear-gradient(45deg, black, grey);
    border-radius: 48px;
    float: left;
    overflow: auto;
    border: 5px solid black;
  }
  .television__channels-wrapper {
    margin-top: 20px;
    height: 80px;
    width: 215px;
    background-color: #7d4d25;
    border-radius: 28px;
    float: right;
    padding-bottom: 10px;
  }

  .television__channels {
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    bottom: 14px;
    left: 5px;
  }

  li.television__channel.votes {
    border: 5px solid red;
    width: 105px;
    height: 66px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.television__channel.votes:hover {
    background: rgb(238, 210, 84);
  }

  .television__channels h2.Short {
    margin: 0;
    font-size: 40px;
    color: black;
  }

  .television__channels h2.Long {
    margin: 0;
    font-size: 0;
  }

  .switch button {
    width: 105px;
    height: 80px;
    display: block;
    bottom: 16px;
    margin-right: 5px;
    /* background: rgb(235, 199, 39);
    box-shadow: inset -6px -6px gold; */
  }
}