.HomePage {
    margin: 10% auto;
    font-size: 50px;
}

.HomePage h1 {
    font-family: 'Patrick Hand', cursive;
}

.HomePage button {
    border-radius: 32px;
    height: 4rem;
    font-size: 17px;
    background: gold;
    border: 5px red solid;
    box-shadow: 10px 10px 2px black;
}

.HomePage button:hover {
    background: yellow;
}

.HomePage button:active {
    transform: translateY(8px) translateX(8px);
    box-shadow: 2px 2px 2px black
}

@media (max-width: 810px) {
    .HomePage h1 {
        font-size: 130%;
    }
}