.CommentsHR {
    width: 70%;
    height: 0.4rem;
    background: maroon;
    margin: 0 auto;
}

.CommentsFull {
    width: 90%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.CommentData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: orange;
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.CommentData h3 {
    margin: 0;
}

.CommentsPara {
    border-radius: 40px;
}

.CommentsPara p {
    margin-bottom: 0;
    background: gold;
    padding: 10px;
    border: 2px solid black;
}


/* ----------- USER PROFILE ----------- */

.UserProfile {
    display: flex;
    flex-direction: row;
}

.UserProfile img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 2px black solid;
}

.UserProfileData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.AddComment {
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
    border: 2px black solid;
    font-family: 'Patrick Hand', cursive;
    background: maroon;
    color: gold;
    box-shadow: 5px 5px 2px black
}

.AddComment:hover {
    background: gold;
    color: maroon
}

.AddComment:active {
    box-shadow: none;
    transform: translateY(4px);
} 

.AddComment:focus {
    outline: none;
}