input.LoginInput {
    height: 3rem;
    width: 60%;
    display: block;
    margin: 10px auto;
    border-radius: 35px;
    padding-left: 20px;
    font-size: 28px;
    font-family: 'Patrick Hand', cursive;
    outline: none;
}

input.LoginInput:focus {
    background: #eef4c4;
    box-shadow: inset 5px 5px 5px #7a4e27;
}

.AddButton {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    font-size: 33px;
    background: #7a4e27;
    color: #eef4c4;
    font-family: 'Patrick Hand', cursive;
    border: 2px black solid;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
}

.InputButton {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    font-size: 33px;
    background: #7a4e27;
    color: #eef4c4;
    font-family: 'Patrick Hand', cursive;
    border: 2px black solid;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
}

.InputButton:hover, .AddButton:hover  {
    color: #7a4e27;
    background: #eef4c4;
    cursor: pointer;
    transform: scale(1.2)
}

.InputButton:focus, .AddButton:focus {
    outline: none;
}

.InputButton:active, .AddButton:active {
    transform: translateY(5px);
    box-shadow: 1px 1px 1px black
}

.LoggedIn {
    display: flex;
    border: 10px solid black;
    border-radius: 40px;
    width: 80%;
    margin: 3% auto 5px;
    background: gold;
    align-items: flex-start;
    height: 200px;
}

.LoggedIn img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 5px solid black;
    height: 100%;
    width: 200px;
}

.LoggedInData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.LoggedInData {
    margin: 0 auto;
}

.FullLogIn {
    display: absolute;
    /* flex-direction: column;
    align-items: center; */
}

@media (max-width: 810px) {
    .LoggedIn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid black;
        border-radius: 40px;
        width: 80%;
        margin: 3% auto 5px;
        background: gold;
        height: 240px;
        padding: 15px;
    }

    .LoggedIn img {
        border-radius: 30px;
        height: 60%;
        width: 150px;
        border: 5px solid black
    }

    .LoggedInData h1 {
        padding: 0;
    }
}